* {
  margin: 0;
  padding: 0;
}

#root {
  display: flex;
  justify-content: center;
  text-align: center;
}

.items-in-post {
  border: 2px solid red;
  padding: 20px 12px;
}

.title-item {
  cursor: pointer;
}

.price-item {
  margin-bottom: 20px;
}

.btn-order {
  color: white;
  font-size: 15px;
  padding: 10px;
  border-radius: 6px;
  background-color: rgb(255, 118, 39);
  border: none;
  cursor: pointer;
}

.btn-link-order {
  display: inline-block;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  font-size: 15px;
  padding: 10px;
  border-radius: 6px;
  background-color: rgb(255, 118, 39);
}
